/* Write your CSS code here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.home-heading {
  color: #551e53;
  font-weight: 600;
  font-size: 30px;
  font-family: 'Roboto';
}

.home-img {
  width: 200px;
}

@media screen and (max-width: 768px) {
  .home-img {
    width: 120px;
  }
}
