/* Write your CSS code here */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logo {
  width: 30px;
  height: 20px;
  margin: 3px;
}

.logo-text {
  color: #12022f;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
}

.nav-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}

.nav-items {
  list-style: none;
}

.nav-links {
  margin: 5px;
  text-decoration: none;
  color: #12022f;
  font-weight: 500;
  font-family: 'Roboto';
  cursor: pointer;
}
